{
  "host" : "smtp.sendgrid.net",
  "port" : 587,
  "username" : "apikey",
  "password" : "{{ vault_sendgrid_api_key }}",
  "use_tls" : false,
  "from_address" : "{{ from_address }}",
  "to_address" : "{{ to_address }}"
}
